﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*
 *  Variables
 */

:root {
    --color-black-near:   #2c2c2c;
    --color-blue:         #46bcff;
    --color-gray-darker:  #3f4044;
    --color-gray-lighter: #ebebeb;
    --color-gray-medium:  #b1b1b1;
    --color-red:          #ff6464;
    --color-teal-darker:  #00ab99;
    --color-white:        #ffffff;
    --color-yellow:       #ffc700;
    --size-spacing-border-thick: 0.125rem;
    --size-spacing-border-thin:  0.0625rem;
    --size-spacing-content-large:        66rem;
    --size-spacing-content-medium:       44rem;
    --size-spacing-content-medium-small: 36rem;
    --size-spacing-content-small:        24rem;
    --size-spacing-cell-large:      33rem;
    --size-spacing-cell-medium:     24rem;
    --size-spacing-cell-small:      10rem;
    --size-spacing-cell-small-very: 4rem;
    --size-spacing-input-large: 4rem;
    --size-spacing-padding-medium: 1.25rem;
    --size-spacing-padding-small:  0.5625rem;
    --size-spacing-padding-large:  2.5rem;
    --size-text-large:      1.5rem;
    --size-text-medium:     1rem;
    --size-text-small:      0.8125rem;
    --size-text-small-very: 0.5rem;
    --weight-heavy:      700;
    --weight-light:      400;
    --weight-light-very: 300;
    --weight-medium:     500;
}

/*
 *  Responsive Web Properties
*/

@media screen and (min-width: 416px) {
    header div,
    main,
    footer div {
        width: var(--size-spacing-content-small);
    }
    #index td {
        max-width: var(--size-spacing-cell-small);
    }
    #interact {
        display: none;
    }
    #urgency .icon .text {
        display: none;
    }
    #due-date {
        display: none;
    }
    #truncated {
        display: table-cell;
    }
}

@media screen and (min-width: 768px) {
    header div,
    main,
    footer div {
        width: var(--size-spacing-content-medium);
    }
    #index td {
        max-width: var(--size-spacing-cell-medium);
    }
    #interact {
        display: none;
    }
    #urgency .icon .text {
        display: initial;
    }
    #due-date {
        display: table-cell;
    }
    #truncated {
        display: table-cell;
    }
}

@media screen and (min-width: 1440px) {
    header div,
    main,
    footer div {
        width: var(--size-spacing-content-large);
    }
    #index td {
        max-width: var(--size-spacing-cell-large);
    }
    #interact {
        display: table-cell;
    }
    #urgency .icon .text {
        display: initial;
    }
    #due-date {
        display: table-cell;
    }
    #truncated {
        display: none;
    }
}

/*
 *  Document-Wide Spacing
 */

body {
    display:        flex;
    flex-direction: column;
    margin:         0 auto;
    min-height:     100vh;
}

a {
    color:           inherit;
    text-decoration: none;
}

header div,
main,
footer div {
    margin: 0 auto;
}

header div,
footer div {
    padding: var(--size-spacing-padding-medium);
}

footer {
    margin-top: auto;
}

    footer div {
        text-align: right;
    }

#interact-page {
    max-width: var(--size-spacing-content-medium-small);
}

.display-status,
form #status select {
    border:         var(--size-spacing-border-thick) solid;
    border-radius:  var(--size-text-medium);
    display:        block;
    padding-top:    var(--size-spacing-border-thick);
    padding-bottom: var(--size-spacing-border-thick);
    padding-left:   var(--size-spacing-padding-small);
    padding-right:  var(--size-spacing-padding-small);
}

.icon,
.icon img {
    vertical-align: middle;
}

    .icon img {
        padding-left:  var(--size-spacing-padding-small);
        padding-right: var(--size-spacing-padding-small);
    }

.buttons {
    width:         100%;
    text-align:    right;
    margin-top:    var(--size-spacing-padding-large);
    margin-bottom: var(--size-spacing-padding-large);
}

.buttons .side {
    float: left;
}

.buttons a,
.buttons input[type=submit] {
    display:        inline-block;
    margin:         0;
    margin-left:    var(--size-spacing-padding-small);
    padding:        var(--size-spacing-padding-small);
    padding-right:  var(--size-spacing-padding-medium);
    padding-left:   var(--size-spacing-padding-medium);
    border:         none;
    border-radius:  var(--size-text-large);
    border-bottom:  var(--size-spacing-border-thick) solid;
    border-color:   var(--color-white);
    vertical-align: bottom;
}

    .buttons a:active,
    .buttons input[type=submit]:active {
        border-bottom: none;
        border-top: var(--size-spacing-border-thick) solid;
    }

/*
 *  Document-Wide Text/Visibility Properties
 */

body {
    font-family: 'Source Sans Pro';
    font-weight: var(--weight-medium);
}

h1 {
    font-size:   var(--size-text-large);
    font-weight: var(--weight-heavy);
}

footer div {
    font-size:   var(--size-text-small);
    font-weight: var(--weight-light-very);
}

.display-status {
    display:   inline-block;
    width:     var(--size-spacing-cell-small-very);
    font-size: var(--size-text-small);
}

.icon:hover .inactive {
    display: none;
}

.icon:not(:hover) .active {
    display: none;
}

.buttons a,
.buttons input[type=submit] {
    font-family: inherit;
    font-size: var(--size-text-medium);
    font-weight: var(--weight-small);
}

/*
 *  Document-Wide Color
 */

body {
    color: var(--color-black-near);
}

header {
    color:            var(--color-white);
    background-color: var(--color-teal-darker);
}

footer {
    color:            var(--color-white);
    background-color: var(--color-gray-darker);
}

.display-status.ToDo {
    color: var(--color-gray-medium);
}

.display-status.InProgress {
    color: var(--color-blue);
}

.display-status.Done {
    color:        var(--color-white);
    background:   var(--color-teal-darker);
    border-color: var(--color-teal-darker);
}

.buttons a.cancel {
    color: var(--color-blue);
}

.buttons a.edit,
.buttons input.edit {
    color:            var(--color-white);
    background-color: var(--color-blue);
    border-color:     rgba(0, 0, 0, 0.25);
}

.buttons a.delete-menu {
    color: var(--color-red);
}

.buttons a.delete,
.buttons input.delete {
    color:            var(--color-white);
    background-color: var(--color-red);
    border-color:     rgba(0, 0, 0, 0.25);
}

    .buttons a:active,
    .buttons input[type=submit]:active {
        border-top-color: white;
    }

/*
 *  Index
 */

#create-button img {
    height: var(--size-text-large);
}

#progress-bar {
    color:           rgba(0, 0, 0, 0);
    user-select:     none;
    width:           100%;
    border-radius:   var(--size-text-medium);
    border-collapse: collapse;
    overflow:        hidden;
    line-height:     var(--size-text-small-very);
    margin-top:      var(--size-spacing-padding-large);
}

    #progress-bar .progress-urgency.PastDue {
        background: var(--color-red);
    }

    #progress-bar .progress-urgency.Upcoming {
        background: var(--color-yellow);
    }

    #progress-bar .progress-urgency.Due {
        background: var(--color-teal-darker);
    }

#index {
    background:      var(--color-white);
    filter:          drop-shadow(0 0 var(--size-spacing-padding-medium) var(--color-gray-lighter));
    width:           100%;
    margin-top:      var(--size-spacing-padding-medium);
    margin-bottom:   var(--size-spacing-padding-large);
    border-collapse: collapse;
    font-size:       var(--size-text-small);
}

    #index tr {
        border-bottom: var(--size-spacing-border-thin) solid var(--color-gray-lighter);
    }

        #index tr:last-child {
            border-bottom: none;
        }

        #index tr:not(:hover) #interact .icon {
            visibility: hidden;
        }

    #index td {
        padding:       var(--size-spacing-padding-small);
        white-space:   nowrap;
        text-overflow: ellipsis;
        overflow:      hidden;
    }

    #index #status {
        border-right: var(--size-spacing-border-thin) solid var(--color-gray-lighter);
    }

    #index #title {
        font-size: var(--size-text-medium);
    }

    #index #description {
        padding-left: var(--size-spacing-padding-medium);
        color:        var(--color-gray-darker);
        font-weight:  var(--weight-light);
    }

    #index #interact img {
        height: var(--size-text-medium);
    }

    #index #urgency {
        font-weight: var(--weight-light);
    }

        #index #urgency img {
            height: var(--size-text-small);
        }

    #index #truncated img {
        height: var(--size-text-small);
    }

/*
 *  Create / Edit
 */

form {
    margin-top: var(--size-spacing-padding-large);
}

input,
textarea,
select {
    display:       block;
    margin-top:    var(--size-spacing-padding-small);
    margin-bottom: var(--size-spacing-padding-small);
}

input,
textarea {
    padding:       var(--size-spacing-padding-small);
    border:        var(--size-spacing-border-thick) solid var(--color-gray-medium);
    border-radius: var(--size-spacing-padding-small);
}

    input[type=text],
    textarea {
        width: 100%;
    }

textarea {
    height:      var(--size-spacing-input-large);
    font-family: inherit;
}


form #id {
    display: none;
}

/*
 *  Details / Delete
 */

#details {
    font-size:  var(--size-text-small);
    margin-top: var(--size-spacing-padding-medium);
}

#details th {
    text-align: left;
    vertical-align: top;
    font-weight: var(--weight-medium);
}

#details td {
    font-weight: var(--weight-light);
}

    #details th,
    #details td {
        border-right:  var(--size-spacing-padding-medium) solid transparent;
        border-bottom: var(--size-spacing-padding-medium) solid transparent;
    }

    #details th:last-child,
    #details td:last-child {
        border-right: none;
    }

    #details tr:last-child th,
    #details tr:last-child td {
        border-bottom: none;
    }