﻿@page
@model TaskManager.Web.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create To Do</h1>

<div id="interact-page">
    <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="ToDo.Title"></label>
                <input asp-for="ToDo.Title" placeholder="Title" />
                <span asp-validation-for="ToDo.Title"></span>
            </div>
            <div>
                <label asp-for="ToDo.Description"></label>
                <textarea asp-for="ToDo.Description" x placeholder="Title"></textarea>
                <span asp-validation-for="ToDo.Description"></span>
            </div>
            <div>
                <label asp-for="ToDo.DueDate"></label>
                <input asp-for="ToDo.DueDate" />
                <span asp-validation-for="ToDo.DueDate"></span>
            </div>
            <div>
                <label asp-for="ToDo.Notes"></label>
                <textarea asp-for="ToDo.Notes" placeholder="Notes"></textarea>
                <span asp-validation-for="ToDo.Notes"></span>
            </div>
            <div class="buttons">
                <a class="cancel" asp-page="Index">Cancel</a>
                <input class="create" type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
