﻿@page
@model TaskManager.Web.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete To Do</h1>

<div id="interact-page">
    <div class="display-status @Html.ValueFor(model => model.ToDo.Status)">
        @Html.DisplayFor(model => model.ToDo.Status)
    </div>
    <table id="details">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDo.Title)
            </th>
            <td>
                @Html.DisplayFor(model => model.ToDo.Title)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDo.Description)
            </th>
            <td>
                @Html.DisplayFor(model => model.ToDo.Description)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDo.DueDate)
            </th>
            <td>
                @Html.DisplayFor(model => model.ToDo.DisplayDueDate)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDo.Notes)
            </th>
            <td>
                @Html.DisplayFor(model => model.ToDo.Notes)
            </td>
        </tr>
    </table>
    <form class="buttons" method="post">
        <input type="hidden" asp-for="ToDo.Id" />
        <a class="cancel" asp-page="./Index">Cancel</a>
        <input class="delete" type="submit" value="Delete"/>
    </form>
</div>
