﻿@page
@model TaskManager.Web.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>To Do Details</h1>

<div id="interact-page">
    <div class="display-status @Html.ValueFor(model => model.ToDo.Status)">
        @Html.DisplayFor(model => model.ToDo.Status)
    </div>
    <table id="details">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDo.Title)
            </th>
            <td>
                @Html.DisplayFor(model => model.ToDo.Title)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDo.Description)
            </th>
            <td>
                @Html.DisplayFor(model => model.ToDo.Description)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDo.DueDate)
            </th>
            <td>
                @Html.DisplayFor(model => model.ToDo.DisplayDueDate)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDo.Notes)
            </th>
            <td>
                @Html.DisplayFor(model => model.ToDo.Notes)
            </td>
        </tr>
    </table>
    <div class="buttons">
        <a class="side delete-menu" asp-page="./Delete" asp-route-id="@Model.ToDo.Id">Delete</a>
        <a class="cancel" asp-page="./Index">Back to List</a>
        <a class="edit" asp-page="./Edit" asp-route-id="@Model.ToDo.Id">Edit</a>
    </div>
</div>

