﻿@page
@model TaskManager.Web.Pages.EditModel
@using TaskManager.Web.Models

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit To Do</h1>

<div id="interact-page">
    <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div id="id">
                <label asp-for="ToDo.Id"></label>
                <input readonly asp-for="ToDo.Id" />
                <span asp-validation-for="ToDo.Id"></span>
            </div>
            <div id="status" class="form-group">
                <label asp-for="ToDo.Status"></label>
                <select asp-for="ToDo.Status" asp-items="Html.GetEnumSelectList<ToDoStatus>()"></select>
                <span asp-validation-for="ToDo.Status"></span>
            </div>
            <div id="title" class="form-group">
                <label asp-for="ToDo.Title"></label>
                <input asp-for="ToDo.Title" />
                <span asp-validation-for="ToDo.Title"></span>
            </div>
            <div id="description" class="form-group">
                <label asp-for="ToDo.Description"></label>
                <textarea asp-for="ToDo.Description"></textarea>
                <span asp-validation-for="ToDo.Description"></span>
            </div>
            <div id="due-date" class="form-group">
                <label asp-for="ToDo.DueDate"></label>
                <input asp-for="ToDo.DueDate" />
                <span asp-validation-for="ToDo.DueDate"></span>
            </div>
            <div id="notes" class="form-group">
                <label asp-for="ToDo.Notes"></label>
                <textarea asp-for="ToDo.Notes"></textarea>
                <span asp-validation-for="ToDo.Notes"></span>
            </div>
            <div class="buttons">
                <a class="cancel" asp-page="Index">Cancel</a>
                <input class="edit" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
