﻿@page
@model TaskManager.Web.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>To Dos</h1>

<p>
    <a asp-page="Create" id="create-button">
        <div class="icon">
            <img src="./img/create.png" class="inactive" alt="Edit" />
            <img src="./img/create-dark.png" class="active" alt="Edit" />
            <span class="text">Create</span>
        </div>
    </a>
</p>
<table id="progress-bar">
    <tr>
@foreach (var item in Model.ToDos.OrderByDescending(item => item.Urgency)) {
        <td class="progress-urgency @Html.ValueFor(modelItem => item.Urgency)">
            -
        </td>
}
    </tr>
</table>
<table id="index">
@foreach (var item in Model.ToDos.OrderBy(item => item.DueDate)) {
    <tr>
        <td id="status">
            <div class="display-status @Html.ValueFor(modelItem => item.Status)">
                @Html.DisplayFor(modelItem => item.Status)
            </div>
        </td>
        <td>
            <span id="title">
                @Html.DisplayFor(modelItem => item.Title)
            </span>
            <span id="description">
                @Html.DisplayFor(modelItem => item.Description)
            </span>
        </td>
        <td id="interact">
            <a asp-page="./Details" asp-route-id="@item.Id" class="icon">
                <img src="./img/details-grey.png" class="inactive" alt="Details" />
                <img src="./img/details.png" class="active" alt="Details" />
            </a>
            <a asp-page="./Edit" asp-route-id="@item.Id" class="icon">
                <img src="./img/edit-grey.png" class="inactive" alt="Edit" />
                <img src="./img/edit.png" class="active" alt="Edit" />
            </a>
            <a asp-page="./Delete" asp-route-id="@item.Id" class="icon">
                <img src="./img/delete-grey.png" class="inactive" alt="Delete" />
                <img src="./img/delete.png" class="active" alt="Delete" />
            </a>
        </td>
        <td id="urgency">
            <div class="icon">
                <img src="~/img/due-@Html.ValueFor(modelItem => item.Urgency)-icon.png"></img>
                <span class="text">Due</span>
            </div>
        </td>
        <td id="due-date">
            @Html.DisplayFor(modelItem => item.DisplayDueDate)
        </td>
        <td id="truncated">
            <a asp-page="./Details" asp-route-id="@item.Id" class="icon">
                <img src="./img/expand.png" alt="Expand" />
            </a>
        </td>
    </tr>
}
</table>
